#define LOCALEDIR ".\\share\\locale"
#define ENABLE_NLS
#define USE_PLUGIN
#define USE_OPENSSL
#define HAVE_ISO_CODES
#define ISO_CODES_PREFIX ".\\"
#define ISO_CODES_LOCALEDIR LOCALEDIR
#define PACKAGE_NAME "poxchat"
#define PACKAGE_VERSION "<#= [string]::Join('.', $versionParts) #>"
#define POXCHATLIBDIR ".\\plugins"
#define POXCHATSHAREDIR "."
#define OLD_PERL
#define GETTEXT_PACKAGE "poxchat"
#define PACKAGE_TARNAME "poxchat-<#= [string]::Join('.', $versionParts) #>"
